.container{
    width: 400px;
    background-color: #616161;
    text-align: center;
    color: white;
    font-size: 25px;
    padding: 1px 0 33px 0px;
    box-shadow:7px 9px 14px #cccccc;
    align-self: center;
}
img{
    width: 74%;
}
input[type=button]{
    color:#fff;
    font-size: 20px;
    padding: 6px 38px ; 
}
.acceptbtn{
    background-color:rgb(29, 56, 2);
    margin-right:4px;
}

.declinebtn{
    background-color:rgb(56, 19, 2);

}

input[type=button]:hover{
    background-color:#CCCCCC;
    color:#000;
}

